@charset "UTF-8";


#main_body {
	min-height: 800px;
}

a {
	color: #74747B;
}

a:link {
	color: #74747B;
	text-decoration: none;
}

a:hover {
	color: #74747B !important;
	text-decoration: none;
}

.css-1xm32e0 {
	position: relative;
	width: 100%;
}

body {
	margin: 0;
	font-family: RobotoInCjk, "Noto Sans KR", "Apple SD Gothic Neo",
		"Nanum Gothic", "Malgun Gothic", sans-serif !important;
}



.css-header{
	margin: auto;
	width: 1320px;
	background:url('https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/VlHt27nCqOuTnuX6bku8QZapzO.jpg');
    height: 250px;
}


.css-header-Font1{
	font-size: 45px;
    color: rgb(255, 255, 255);
    font-family: Georgia, Serif;
    font-style: italic;
    font-weight: bolder;
    margin-left: 30px;
    margin-top: 10px;
}

.css-header-Font2{
	font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: Georgia, Serif;
    font-style: italic;
    font-weight: lighter;
    margin-left: 30px;
    margin-top: 10px;
}

@use postcss-color-function;
@use postcss-nested;
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

.search-container{
	padding-top: 50px;
	margin:0 auto;
	text-align:center;
}

.search-title{
		font-size: 22px;
        font-weight: 900;
        text-align: center;
        color: rgb(0, 0, 0);
}

.search-input{
	
	    width: 80%;
        padding: 12px 24px;
		margin:auto;
        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        
        color: rgb(0, 0, 0); /* 글자 색 */
       /* background-color: transparent;  배경 투명 */
        background-color: rgb(255, 255, 255);
      	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 0px solid #ffffff;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        
        &::placeholder {
            color: color(#ffffff a(0.8));
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        
        &:hover,
        &:focus {
            padding: 12px 0;
            outline: 0;
            border: 0px solid transparent;
            border-bottom: 0px solid #ffffff;
            border-radius: 0;
            background-position: 100% center;
        }
    }
}


.css-7klu3x {
	min-height: calc(100vh - 136px);
	margin-top: 74px;
}

@media ( max-width :720px) {
	.css-7klu3x {
		margin-top: 75px;
	}
}

@media ( min-width :600px) {
	.css-7klu3x {
		min-height: calc(100vh - 343px);
		margin-top: 74px;
	}
}

@media ( min-width :760px) {
	.css-7klu3x {
		margin-top: 80px;
	}
}

@media ( min-width :1100px) {
	.css-7klu3x {
		margin-top: 86px;
	}
}

.css-7klu3x {
	min-height: calc(100vh - 136px);
	margin-top: 74px;
}

@media ( max-width :720px) {
	.css-7klu3x {
		margin-top: 75px;
	}
}

@media ( min-width :600px) {
	.css-7klu3x {
		min-height: calc(100vh - 343px);
		margin-top: 74px;
	}
}

@media ( min-width :760px) {
	.css-7klu3x {
		margin-top: 80px;
	}
}

@media ( min-width :1100px) {
	.css-7klu3x {
		margin-top: 86px;
	}
}

.css-lufi3b {
	margin-bottom: 20px;
}

@media ( min-width :719px) {
	.css-lufi3b {
		margin-bottom: 30px;
	}
}

@media ( min-width :1100px) {
	.css-lufi3b {
		margin-bottom: 42px;
	}
}

.css-lufi3b .arrow_button {
	opacity: 1 !important;
}

.css-pbseb6-StyledHomeListTitleRow {
	white-space: nowrap;
	max-width: 1320px;
	padding: 12px 0 14px;
	margin-right: 15px;
	margin-left: 15px;
	max-height: 60px;
	line-height: 30px;
}

@media ( max-width :720px) {
	.css-pbseb6-StyledHomeListTitleRow {
		line-height: 29px;
		max-height: 58px;
		padding: 4px 20px 9px 0;
	}
}

@media ( min-width :719px) {
	.css-pbseb6-StyledHomeListTitleRow {
		margin-right: 20px;
		margin-left: 20px;
	}
}

@media ( min-width :760px) {
	.css-pbseb6-StyledHomeListTitleRow {
		margin: 0 3.5%;
	}
}

@media ( min-width :1100px) {
	.css-pbseb6-StyledHomeListTitleRow {
		margin: 0 60px;
	}
}

@media ( min-width :1440px) {
	.css-pbseb6-StyledHomeListTitleRow {
		margin-right: auto;
		margin-left: auto;
	}
}

.css-16qa0p7 {
	color: #292a32;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 22px;
	font-weight: 700;
	-webkit-letter-spacing: -0.4px;
	-moz-letter-spacing: -0.4px;
	-ms-letter-spacing: -0.4px;
	letter-spacing: -0.4px;
	line-height: 30px;
}

@media ( max-width :720px) {
	.css-16qa0p7 {
		line-height: 29px;
	}
}

@media ( max-width :720px) {
	.css-16qa0p7 {
		display: -webkit-box;
		white-space: normal;
		overflow: hidden;
		text-overflow: ellipsis;
		max-height: 60px;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
}

.css-1qq59e8 {
	max-width: 1320px;
}

@media ( min-width :760px) {
	.css-1qq59e8 {
		margin: 0 3.5%;
	}
}

@media ( min-width :1100px) {
	.css-1qq59e8 {
		margin: 0 60px;
	}
}

@media ( min-width :1440px) {
	.css-1qq59e8 {
		margin-right: auto;
		margin-left: auto;
	}
}

.css-1kd6k5d {
	position: relative;
	transform: translate3d(0px, 0px, 0px);
	margin: 0px -8px;
}

.css-9dnzub {
	overflow-x: hidden;
	overflow-y: hidden;
	scroll-behavior: smooth;
}

.css-9dnzub::-webkit-scrollbar {
	display: none !important;
}

.css-174lxc3 {
	-webkit-transition: 500ms;
	transition: 500ms;
}

.css-119xxd7 {
	margin-right: 20px;
	margin-left: 15px;
}

@media ( min-width :719px) {
	.css-119xxd7 {
		margin-right: 28px;
		margin-left: 20px;
	}
}

@media ( min-width :760px) {
	.css-119xxd7 {
		margin-right: 0;
		margin-left: 0;
	}
}

.css-1ya1z7z-VisualUl {
	list-style: none;
	padding: 0px;
	white-space: nowrap;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px !important;
	margin-left: 0px !important;
}

@media ( min-width : 1100px) {
	.css-1ya1z7z-VisualUl>li {
		width: 20%;
		padding: 0px 8px;
	}
}

@media ( min-width : 760px) {
	.css-1ya1z7z-VisualUl>li {
		width: 25%;
		padding: 0px 5px;
	}
}

@media ( min-width : 600px) {
	.css-1ya1z7z-VisualUl>li {
		width: 33.3333%;
		padding: 0px 5px;
		margin-bottom: 0px;
	}
}

@media ( min-width : 1600px) {
	.css-1ya1z7z-VisualUl>li {
		width: 9.09091%;
	}
}

@media ( min-width : 1360px) {
	.css-1ya1z7z-VisualUl>li {
		width: 10%;
	}
}

@media ( min-width : 1200px) {
	.css-1ya1z7z-VisualUl>li {
		width: 11.1111%;
	}
}

@media ( min-width : 1100px) {
	.css-1ya1z7z-VisualUl>li {
		width: 12.5%;
	}
}

@media ( min-width : 960px) {
	.css-1ya1z7z-VisualUl>li {
		width: 14.2857%;
	}
}

@media ( min-width : 840px) {
	.css-1ya1z7z-VisualUl>li {
		width: 16.6667%;
	}
}

@media ( min-width : 680px) {
	.css-1ya1z7z-VisualUl>li {
		width: 20%;
	}
}

.css-8y23cj {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	/* 	width: 33.333333333333336%; */
	padding: 0 5px;
	margin: 0 0 24px;
}

.css-8y23cj>a {
	display: inline-block;
	-webkit-text-decoration: none;
	text-decoration: none;
	width: 100%;
}

.css-1qmeemv {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 145.37037037037038%;
}

.css-1rdb949-StyledLazyLoadingImage {
	position: relative;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border: 1px solid #eae9e8;
	border-radius: 5px;
	background: #f8f8f8;
	-webkit-transition: 300ms;
	transition: 300ms;
}

.css-qhzw1o-StyledImg {
	vertical-align: top;
	width: 100%;
	height: 100%;
	opacity: 1;
	object-fit: cover;
	transition: opacity 420ms ease 0s;
}

.css-ixy093 {
	text-align: left;
	width: calc(100% - 10px);
	margin: 5px 10px 0 0;
}

@media ( max-width :720px) {
	.css-ixy093 {
		height: 55px;
		margin: 6px 5px 0 0;
	}
}

.css-5yuqaa {
	color: #292a32;
	font-size: 15px;
	font-weight: 400;
	-webkit-letter-spacing: -0.5px;
	-moz-letter-spacing: -0.5px;
	-ms-letter-spacing: -0.5px;
	letter-spacing: -0.5px;
	line-height: 20px;
	font-size: 16px;
	font-weight: 500;
	-webkit-letter-spacing: -0.3px;
	-moz-letter-spacing: -0.3px;
	-ms-letter-spacing: -0.3px;
	letter-spacing: -0.3px;
	line-height: 22px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 3px;
}

@media ( max-width :720px) {
	.css-5yuqaa {
		display: -webkit-box;
		font-size: 15px;
		font-weight: 400;
		-webkit-letter-spacing: -0.2px;
		-moz-letter-spacing: -0.2px;
		-ms-letter-spacing: -0.2px;
		letter-spacing: -0.2px;
		line-height: 18px;
		white-space: normal;
		max-height: 36px;
		margin-bottom: 4px;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
}

.css-1rxwuxd {
	display: none;
	color: #292a32;
	padding-bottom: 1px;
	font-size: 14px;
	font-weight: 400;
	-webkit-letter-spacing: normal;
	-moz-letter-spacing: normal;
	-ms-letter-spacing: normal;
	letter-spacing: normal;
	line-height: 21px;
}

@media ( min-width :719px) {
	.css-1rxwuxd {
		display: block;
	}
}

.css-xgmur2.average {
	color: #555765;
}

.css-xgmur2 {
	color: #787878;
	font-size: 13px;
	font-weight: 400;
	-webkit-letter-spacing: -0.2px;
	-moz-letter-spacing: -0.2px;
	-ms-letter-spacing: -0.2px;
	letter-spacing: -0.2px;
	line-height: 18px;
	white-space: nowrap;
	height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	-webkit-letter-spacing: 0;
	-moz-letter-spacing: 0;
	-ms-letter-spacing: 0;
	letter-spacing: 0;
	line-height: 14px;
	height: 15px;
}

@media ( min-width :719px) {
	.css-xgmur2 {
		margin-top: 2px;
	}
}

.css-xgmur2>span {
	height: 15px;
}

.css-xgmur2.rated {
	color: #f88b08;
}

.css-xgmur2.predicted {
	color: #ff0558;
}

.css-xgmur2.average {
	color: #555765;
}

.css-xgmur2>svg {
	margin-top: 2px;
}

.css-u4moi6 {
	display: none;
	color: #74747b;
	white-space: normal;
	font-size: 13px;
	font-weight: 400;
	-webkit-letter-spacing: -0.3px;
	-moz-letter-spacing: -0.3px;
	-ms-letter-spacing: -0.3px;
	letter-spacing: -0.3px;
	line-height: 18px;
	margin-top: 5px;
}

@media ( min-width :719px) {
	.css-u4moi6 {
		display: block;
	}
}

.css-ml096x {
	display: inline-block;
	margin: 0;
}

.css-148ng4f {
	display: flex;
	position: absolute;
	top: 0px;
	z-index: 2;
	-webkit-box-align: center;
	align-items: center;
	height: 100%;
	transition: all 300ms ease 0s;
}

.css-147ng4f {
	display: flex;
	position: absolute;
	top: 0px;
	z-index: 2;
	right: -9px;
	-webkit-box-align: center;
	align-items: center;
	height: 100%;
	transition: all 300ms ease 0s;
}

.css-vp7uyl>img {
	opacity: 0.4;
}

.css-vp7uyl {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fff;
	box-sizing: border-box;
	width: 34px;
	height: 34px;
	border: solid 1px #f9f9f9;
	border-radius: 50%;
	box-shadow: 0 0 4px 0 rgb(0 0 0/ 20%);
	background-size: 12px;
	width: 34px;
	height: 34px;
	cursor: pointer;
	-webkit-transition: opacity 300ms;
	transition: opacity 300ms;
}

.css-vp7uyl>img {
	opacity: 0.4;
}