@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);


html{
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}

.fontKo{
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    font-size: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbfbfb; /* navbar 바탕 색 */
    padding: 0px 70px 0px 70px;
}

.navbar__logo {
    font-size: 25px;
    color: rgb(0, 0, 0);
    font-family: Georgia, Serif;
}

.navbar__logo > a{
	color:#000000; text-decoration: none;
}

.navbar__logo > a:link{
	color:#000000; text-decoration: none;
}

.navbar__logo > a:hover{
	color:#ff0000; text-decoration: none;
}

.navbar__menu li {
    padding: 10px 20px;
}

.navbar__icons {
    list-style: none;
    display :flex;
    color:rgb(0, 0, 0);
    padding-left: 0px;
}
/*
.navbar__icons li {
     padding: 8px 12px; 
}
*/
.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 10em;
   
}

.navbar__menu li {
    padding: 8px 13px;
    font-size: 20px;   
}
/*
.navbar__menu li:hover {
    background-color :#dadee3;  마우스 올렷을때 
    border-radius: 50px;
}*/

.navbar__icons li {
    padding : 10px;
}

.navbar__toggleBtn {
    display: none;
}

.css-memberButton{
    background: none;
	padding: 0;
	border: none;
	margin: 0;
	cursor: pointer;
	background: #ff2f6e;
	color: #fff;
	text-align: center;
	font-weight: 400;
	-webkit-letter-spacing: -0.7px;
	-moz-letter-spacing: -0.7px;
	-ms-letter-spacing: -0.7px;
	letter-spacing: -0.7px;
	line-height: 22px;
	width: 100%;
	height: 44px;
	border-radius: 6px;
	font-weight: 500;
	-webkit-letter-spacing: -0.5px;
	-moz-letter-spacing: -0.5px;
	-ms-letter-spacing: -0.5px;
	letter-spacing: -0.5px;
	line-height: 20px;
	box-sizing: border-box;
	width: auto;
	min-width: 72px;
	height: 32px;
	padding: 5px 12px;
	background: transparent;
	color: #353535;
	font-size: 12px;
	-webkit-letter-spacing: -0.3px;
	-moz-letter-spacing: -0.3px;
	-ms-letter-spacing: -0.3px;
	letter-spacing: -0.3px;
	padding: 5px 14px 6px 14px;
	border: 1px solid rgba(116, 116, 123, 0.5);
	margin: 15px 0;
    text-decoration: none;
}

.css-memberButton:focus {
	outline: none;
}
.css-member{
    margin-top:1vw;
}
.css-member > a{
    display: inline-block;
}

.search {
    position: relative;
    width: 300px;
  }
  
.css-searchBar {
    width: 100%;
    height: auto;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 12px;
    background-color:rgb(250, 250, 250);
}
  
.css-searchImg {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
}

.customNav{height: 4em;
    background-color: #fff;
}

.customUl{margin-left: auto;}

.customLi{font-size: 18px;
    text-align: center;
    align-self: center;
    align-content: center;
    font-family: Georgia, Serif;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding : 10px 24px;
    }
    
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons{
        display: none;
        width: 100%;
        justify-content: center;
    }

    .navbar__toggleBtn {
        display: block;
        position: absolute;
        right : 20px;
        font-size: 24px;
        color :rgb(0, 8, 7);
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
        transition: 1s ease-out;
    }

}